body {
  color: #3e5770; }

@media (min-width: 991px) {
  .row-pad-md-60 {
    padding-top: 60px; } }

.pad-top-50 {
  padding-top: 50px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-60 {
  margin-top: 60px; }

.pad-top-40 {
  padding-top: 40px; }

.pad-left-30px {
  padding-left: 30px; }

.pad-top-30 {
  padding-top: 30px; }

.pad-top-60 {
  padding-top: 60px; }

.pad-bottom-30 {
  padding-bottom: 30px; }

.extra-pad-bottom {
  padding-bottom: 22px; }

.padding-60-md {
  padding-top: 60px; }

.padding-top-15 {
  padding-top: 15px; }

.font-md-12 {
  font-size: 12px; }

@media (max-width: 767px) {
  .padding-top-xs-15 {
    padding-top: 15px; } }
@media (max-width: 991px) {
  .padding-top-sm-15 {
    padding-top: 15px; }

  .pad-sm-pad-0 {
    padding-top: 0px; } }
.text-size-12 {
  font-size: 12px; }

.text-size-18 {
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px; }

@media (max-width: 991px) {
  .xs-pad-top-30 {
    padding-top: 30px; }

  .right-sm {
    text-align: right; }

  .sm-pad-top-60 {
    padding-top: 60px; } }
@media (max-width: 767px) {
  .padding-60-sm {
    padding-top: 60px; }

  .text-center-xs {
    text-align: center; }

  .xs-top-30 {
    padding-top: 30px;
    padding-bottom: 20px; }

  .padding-left-xs {
    padding-left: 15px; }

  .pad-top-xs-30 {
    padding-top: 30px; } }
@media (min-width: 767) and (max-width: 991px) {
  .img-width-220 img {
    width: 200; } }
.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.navbar {
  position: relative; }

.logo-format {
  margin: 0;
  float: none;
  text-align: center; }

.brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  /* 50% of your logo width */
  display: block;
  padding-top: 15px; }

/*------------------ Header css--------------------------*/
#search-form span {
  color: #ecf0f1;
  background-color: #3e5770; }

.form-control {
  border-color: #3e5770; }

float-navbar {
  float: right; }

#page-header {
  font-size: 12px;
  border: 0px; }
  #page-header .navbar-default {
    border-bottom-color: #3e5770;
    margin: 0px; }
  #page-header .btn-default {
    border-color: white;
    background-color: white;
    border: none !important;
    text-shadow: none !important;
    box-shadow: none !important; }
  #page-header button:focus {
    outline: 0; }
  @media screen and (min-width: 767px) {
    #page-header .navbar-nav {
      width: 100%;
      text-align: center; }
      #page-header .navbar-nav > li {
        float: none;
        display: inline-block; } }

.btn-size {
  width: 170px; }

.section-header .navbar-nav > li > a,
.xs-navbar .navbar-nav > li > a {
  color: #3e5770; }
  .section-header .navbar-nav > li > a.sales,
  .xs-navbar .navbar-nav > li > a.sales {
    color: red; }

.xs-navbar {
  text-align: center;
  overflow-y: visible; }

/*.navbar .navbar-nav {
    display: inline-block;
    float: none;
}*/
.navbar-collapse {
  overflow: inherit; }

.nav2 {
  padding-left: 80px;
  background: white; }

.paellashop-nav {
  background-color: #ecf0f1;
  margin-bottom: 0px; }
  .paellashop-nav li > a {
    padding-right: 30px; }

.xs-nav {
  background-color: #ecf0f1;
  margin-bottom: 0px; }

.second-nav {
  background: white; }

.nav3 {
  margin-right: 250px; }

#search-form {
  display: none; }

.page-header2 {
  /*img{
     height: 30px; 
      display: inline-block;
      margin-top: -5px";
  }*/ }
  .page-header2 #search-form1 span {
    color: #ecf0f1;
    background-color: #3e5770; }
  .page-header2 #search-form1 input {
    height: 30px;
    margin-top: 0px; }
  .page-header2 #search-button1 {
    background-color: #ecf0f1;
    padding-top: 0px;
    margin-top: 0px; }
  .page-header2 .btn-default {
    border-color: white;
    background-color: white;
    border: none !important;
    text-shadow: none !important;
    box-shadow: none !important; }
  .page-header2 button:focus {
    outline: 0; }
  .page-header2 .form-control {
    border-color: #3e5770; }
  .page-header2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .page-header2 li {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline;
    float: right; }
    .page-header2 li.pad-set {
      padding-top: 0px; }
  .page-header2 .navbar-header {
    background-color: #ecf0f1; }
  .page-header2 input,
  .page-header2 button {
    margin-top: 5px;
    height: 20px; }
  .page-header2 .btn-default {
    border-color: white;
    background-color: #ecf0f1;
    border: none !important; }
  .page-header2 .form-control {
    border-color: #3e5770; }

/*------------------ Tabbed Slider Carousel css--------------------------*/
.corousel-format .carousel {
  height: 100%; }

#myCarousel .carousel-inner > .item > img {
  width: 100%; }
#myCarousel .format-img > li > img {
  width: 250px;
  height: 250px; }

#myCarousel .nav a small {
  display: block; }

.nav-justified > li > a {
  border-radius: 0px; }

/*.nav-pills>li[data-slide-to="0"].active a {
    background-image: url(images/phones.jpg);
}

.nav-pills>li[data-slide-to="1"].active a {
    background-color: #e67e22;
}

.nav-pills>li[data-slide-to="2"].active a {
    background-color: #2980b9;
}

.nav-pills>li[data-slide-to="3"].active a {
    background-color: #8e44ad;
}*/
.main-image .col-xs-4 {
  padding: 3px; }

.img-width {
  display: block;
  height: auto;
  width: 100%; }

.main-font h3 {
  font-size: 20px; }

@media (max-width: 767px) {
  .add-to-basket,
  h3,
  p {
    text-align: center; } }
/*----------------- add to basket and quick view button css -----------------*/
.basket-btn--primary,
.basket-btn--primary:active,
.basket-btn--primary:focus,
.basket-btn--primary:hover {
  font-size: 11px;
  font-weight: bold;
  background-color: #3e5770;
  color: white;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 1px #27496d; }

.quick-btn--primary,
.quick-btn--primary:active,
.quick-btn--primary:focus,
.quick-btn--primary:hover {
  font-size: 12px;
  font-weight: bold;
  background-color: #ecf0f1;
  color: #3e5770;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  /*box-shadow: inset 0 0 0 1px #27496d;*/ }
  @media (max-width: 767px) {
    .quick-btn--primary.small-btn,
    .quick-btn--primary:active.small-btn,
    .quick-btn--primary:focus.small-btn,
    .quick-btn--primary:hover.small-btn {
      width: 70px;
      height: 20px;
      font-size: 9px;
      border-radius: 15px; } }
  .quick-btn--primary.long-btn,
  .quick-btn--primary:active.long-btn,
  .quick-btn--primary:focus.long-btn,
  .quick-btn--primary:hover.long-btn {
    width: 140px; }

/*-----------------featured products css ------------------*/
.common-padding {
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 60px; }

.common-padding-1 {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 60px; }

.star-width img {
  width: 110px; }

.product-img img {
  width: 200px; }

.price-text {
  font-size: 16px;
  font-weight: bold; }

.product-row-font {
  font-size: 12px; }

/*------------- sale banner css---------*/
.sale-image {
  padding-top: 60px;
  padding-bottom: 60px; }

.recent-view img,
.recommendation img {
  width: 75px; }

/*----------------brand of the week css --------*/
.brand-img1 img {
  width: 350px; }

/*------------------ footer css--------------------------*/
.common-padding-footer2 {
  padding-top: 10px;
  /* padding-left: 80px;
   padding-right: 80px;*/
  padding-bottom: 10px; }

@media (max-width: 767px) {
  .common-padding {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: -30px;
    margin-top: 30px; } }
.footer {
  background-color: #ecf0f1;
  font-size: 12px; }
  .footer a {
    color: #3e5770; }
  .footer .footer-title {
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: bold; }

.padding-xs-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px; }

.footer-2 {
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 80px; }

.xs-font-1 {
  font-size: 10px; }

.xs-font-2 {
  font-size: 10px; }

.fa-c {
  color: yellow;
  background-color: blue;
  width: 20px;
  height: 20px; }

/*--------------tv1 css-------------------*/
.navigation-padding {
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px; }

.product-padding-left {
  margin-left: -40px; }
  .product-padding-left img {
    width: 100%; }

.padding-right-side {
  padding-top: 7%;
  padding-left: 2%; }

@media (max-width: 991px) {
  .sm-center {
    text-align: center; } }
.in-stock {
  color: green;
  font-size: 12px;
  padding-bottom: 15px; }

.product-text {
  color: #3e5770; }

.image-format img {
  width: 250px; }

/*-------computing page css ------*/
.text-product-detail {
  text-align: center; }
  @media (max-width: 991px) {
    .text-product-detail {
      padding-top: 15px; } }
  .text-product-detail h4 {
    font-size: 12px;
    margin-bottom: 0px;
    padding-top: 15px; }
  .text-product-detail h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 40px; }

@media (max-width: 991px) {
  .pad-bottom-sm-60 {
    padding-bottom: 60px; }

  .computing-container .img-pad-bottom-60 {
    /*/padding-bottom: 60px;*/ }

  .text-product-detail {
    text-align: left;
    margin-top: -30px; }
    .text-product-detail h2 {
      padding-bottom: 0px; }
    .text-product-detail h3 {
      font-size: 12px;
      margin-bottom: 0px;
      text-align: left; } }
@media (max-width: 767px) {
  .text-product-detail {
    text-align: left; } }
.computing-container h3 {
  text-align: left; }
.computing-container ul a {
  color: #3e5770;
  text-decoration: none; }

/*---------------checkout basket css---------*/
.title-font p {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px; }
.title-font .title-paella p {
  font-weight: bold;
  padding: 0px; }
.title-font .title-paella h6 {
  padding-bottom: 20px; }

label.required:before {
  content: " *";
  color: red; }

label {
  font-weight: normal !important; }

.form-group {
  font-size: 14px; }

@media (max-width: 767px) {
  .form-group {
    font-size: 12px; } }
@media (max-width: 767px) {
  .order-text h5 {
    font-size: 11px; } }
.order-text .pad-top-10 {
  padding-top: 12px; }
@media (max-width: 767px) {
  .order-text .font-12 {
    font-size: 12px; } }

.bold-text {
  font-weight: bold; }

.not-bold {
  font-size: 10px;
  font-weight: 0px; }

/*-------------my basket------------------*/
.style-six {
  margin-top: 0px;
  border: 0;
  height: 0;
  border-top: 0.5px solid primary-color;
  border-bottom: 0.5px solid #ecf0f1; }

.order-no h3 {
  text-align: left; }
.order-no h5 {
  padding-top: 25px;
  font-weight: bold;
  font-size: 15px;
  text-align: left; }
.order-no p {
  text-align: left;
  padding-top: 15px;
  font-size: 12px;
  padding-bottom: 15px; }

.font-9 {
  font-size: 9px; }
  @media (max-width: 991px) {
    .font-9 {
      font-size: 7px;
      padding-left: 3px; } }

/*# sourceMappingURL=style.css.map */
