$primary-color: #ecf0f1;
$secondary-color: #3e5770;



body {
    color: $secondary-color;
}


.row-pad-md-60{
    
    @media (min-width: 991px)
        {
            padding-top: 60px;
    }
    
}
.pad-top-50 {
    padding-top: 50px;
}

.margin-top-10 {
    margin-top: 10px;
}
.margin-top-60 {
    margin-top: 60px;
}

.pad-top-40 {
    padding-top: 40px;
}

.pad-left-30px {
    padding-left: 30px;
}

.pad-top-30 {
    padding-top: 30px;
}

.pad-top-60 {
    padding-top: 60px;
}

.pad-bottom-30 {
    padding-bottom: 30px;
}

.extra-pad-bottom {
    padding-bottom: 22px;
}

.padding-60-md {
    padding-top: 60px;
}

.padding-top-15 {
    padding-top: 15px;
}

.font-md-12 {
    font-size: 12px;}
@media (max-width: 767px) {
    .padding-top-xs-15 {
        padding-top: 15px;
    }
}

@media (max-width: 991px) {
    .padding-top-sm-15 {
        padding-top: 15px;
    }
    .pad-sm-pad-0{
         padding-top: 0px;
    }
}

.text-size-12 {
    font-size: 12px;
}

.text-size-18 {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 991px) {
    .xs-pad-top-30 {
        padding-top: 30px;
    }
    .right-sm {
        text-align: right;
    }
    .sm-pad-top-60 {
        padding-top: 60px;
    }
}

@media (max-width: 767px) {
    .padding-60-sm {
        padding-top: 60px;
    }
    .text-center-xs {
        text-align: center;
    }
    .xs-top-30 {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .padding-left-xs {
        padding-left: 15px;
    }
    
    .pad-top-xs-30{
        padding-top: 30px;
    }
    
}

@media (min-width: 767) and ( max-width: 991px) {
    .img-width-220 {
        img {
            width: 200;
        }
    }
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.navbar {
    position: relative;
}
.logo-format{
  margin: 0;
float: none;
    text-align:center;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    padding-top: 15px;
}

/*------------------ Header css--------------------------*/

#search-form {
    span {
        color: $primary-color;
        background-color: $secondary-color;
    }
}

.form-control {
    border-color: $secondary-color;
}

float-navbar {
    float: right;
}

#page-header {
    font-size: 12px;
    border: 0px;
    .navbar-default {
        border-bottom-color: $secondary-color;
        margin: 0px;
    }
    .btn-default {
        border-color: white;
        background-color: white;
        border: none !important;
        text-shadow: none !important;
        box-shadow: none !important;
    }
    button:focus {
        outline: 0;
    }
    @media screen and (min-width: 767px) {
        .navbar-nav {
            width: 100%;
            text-align: center;
            > li {
                float: none;
                display: inline-block;
            }
        }
    }
}

.btn-size {
    width: 170px;
}

.section-header,
.xs-navbar {
    .navbar-nav>li>a {
        color: $secondary-color;
        &.sales {
            color: red;
        }
    }
}

.xs-navbar {
    text-align: center;
    overflow-y: visible;
}


/*.navbar .navbar-nav {
    display: inline-block;
    float: none;
}*/

.navbar-collapse {
    overflow: inherit;
}

.nav2 {
    padding-left: 80px;
    background: white;
}
.paellashop-nav
{ background-color: $primary-color;
    margin-bottom: 0px;
    li>a{
        padding-right: 30px;}
}

.xs-nav {
   
 background-color: $primary-color;
    margin-bottom: 0px;
}

.second-nav {
    background: white;
}

.nav3 {
    margin-right: 250px;
}

#search-form {
    display: none;
}

.page-header2 {
    #search-form1 {
        span {
            color: $primary-color;
            background-color: $secondary-color;
        }
        input {
            height: 30px;
            margin-top: 0px;
        }
    }
    #search-button1 {
        background-color: $primary-color;
        padding-top: 0px;
        margin-top: 0px;
    }
    .btn-default {
        border-color: white;
        background-color: white;
        border: none !important;
        text-shadow: none !important;
        box-shadow: none !important;
    }
    button:focus {
        outline: 0;
    }
    .form-control {
        border-color: $secondary-color;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
        display: inline;
        float: right;
        &.pad-set {
            padding-top: 0px;
        }
    }
    .navbar-header {
        background-color: $primary-color;
    }
    /*img{
       height: 30px; 
        display: inline-block;
        margin-top: -5px";
    }*/
    input,
    button {
        margin-top: 5px;
        height: 20px;
    }
    .btn-default {
        border-color: white;
        background-color: $primary-color;
        border: none !important;
    }
    .form-control {
        border-color: $secondary-color;
    }
}


/*------------------ Tabbed Slider Carousel css--------------------------*/

.corousel-format {
    .carousel {
        height: 100%;
    }
}

#myCarousel {
    .carousel-inner>.item>img {
        width: 100%;
    }
    .format-img>li>img {
        width: 250px;
        height: 250px;
    }
}

#myCarousel .nav a small {
    display: block;
}

#myCarousel .nav {}

.nav-justified > li > a {
    border-radius: 0px;
}


/*.nav-pills>li[data-slide-to="0"].active a {
    background-image: url(images/phones.jpg);
}

.nav-pills>li[data-slide-to="1"].active a {
    background-color: #e67e22;
}

.nav-pills>li[data-slide-to="2"].active a {
    background-color: #2980b9;
}

.nav-pills>li[data-slide-to="3"].active a {
    background-color: #8e44ad;
}*/

.main-image {
    .col-xs-4 {
        padding: 3px;
    }
}

.img-width {
    display: block;
    height: auto;
    width: 100%;
}

.main-font {
    h3 {
        font-size: 20px;
    }
}

@media(max-width: 767px) {
    .add-to-basket,
    h3,
    p {
        text-align: center;
    }
}


/*----------------- add to basket and quick view button css -----------------*/

.basket-btn--primary,
.basket-btn--primary:active,
.basket-btn--primary:focus,
.basket-btn--primary:hover {
    font-size: 11px;
    font-weight: bold;
    background-color: $secondary-color;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px #27496d;
}

.quick-btn--primary,
.quick-btn--primary:active,
.quick-btn--primary:focus,
.quick-btn--primary:hover {
    font-size: 12px;
    font-weight: bold;
    background-color: $primary-color;
    color: $secondary-color;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    /*box-shadow: inset 0 0 0 1px #27496d;*/
    &.small-btn {
        @media(max-width: 767px) {
            width: 70px;
            height: 20px;
            font-size: 9px;
            border-radius: 15px;
        }
    }
    &.long-btn {
        width: 140px;
    }
}


/*-----------------featured products css ------------------*/

.common-padding {
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 60px;
}

.common-padding-1 {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 60px;
}

.star-width {
    img {
        width: 110px;
    }
}

.product-img {
    img {
        width: 200px;
    }
}

.price-text {
    font-size: 16px;
    font-weight: bold;
}

.product-row-font {
    font-size: 12px;
}


/*------------- sale banner css---------*/

.sale-image {
    padding-top: 60px;
    padding-bottom: 60px;
}

.recent-view,
.recommendation {
    img {
        width: 75px;
    }
}


/*----------------brand of the week css --------*/

.brand-img1 {
    img {
        width: 350px;
    }
}


/*------------------ footer css--------------------------*/

.common-padding-footer2 {
    padding-top: 10px;
   /* padding-left: 80px;
    padding-right: 80px;*/
    padding-bottom: 10px;
}

@media(max-width: 767px) {
    .common-padding {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: -30px;
        margin-top: 30px;
    }
}

.footer {
    background-color: $primary-color;
    font-size: 12px;
    a {
        color: $secondary-color;
    }
    .footer-title {
        font-size: 14px;
        margin-bottom: 30px;
        font-weight: bold;
    }
}

.padding-xs-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-2 {
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
}

.xs-font-1 {
    font-size: 10px;
}

.xs-font-2 {
    font-size: 10px;
}

.fa-c {
    color: yellow;
    background-color: blue;
    width: 20px;
    height: 20px;
}


/*--------------tv1 css-------------------*/

.navigation-padding {
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}

.product-padding-left {
    margin-left: -40px;
    img {
        width: 100%;
    }
}

.padding-right-side {
    padding-top: 7%;
    padding-left: 2%;
}

@media(max-width: 991px) {
    .sm-center {
        text-align: center;
    }
}

.in-stock {
    color: green;
    font-size: 12px;
    padding-bottom: 15px;
}

.product-text {
    color: $secondary-color;
}

.image-format {
    img {
        width: 250px;
    }
}


/*-------computing page css ------*/

.text-product-detail {
    
    @media (max-width: 991px){ 
        padding-top: 15px;
    }
    
    
    
    text-align: center;
    h4 {
        font-size: 12px;
        margin-bottom: 0px;
        padding-top: 15px;
    }
    h2 {
        font-size: 15px;
        font-weight: bold;
        margin-top: 20px;
        padding-bottom: 40px;
    }
}

@media (max-width: 991px) {
    .pad-bottom-sm-60 {
        padding-bottom: 60px;
    }
    .computing-container {
        .img-pad-bottom-60 {
            /*/padding-bottom: 60px;*/
        }
    }
    .text-product-detail {
        text-align: left;
        margin-top: -30px;
        h2 {
            padding-bottom: 0px;
        }
        h3 {
            font-size: 12px;
            margin-bottom: 0px;
            text-align: left;
        }
    }
}

@media (max-width: 767px) {
    .text-product-detail {
        text-align: left;
    }
}


.computing-container{
    h3{
        text-align: left;
    }
    ul{
        
        
        a{
            
            color: $secondary-color;
    text-decoration: none; 
        }
    }
    
    
    
    
}

/*---------------checkout basket css---------*/

.title-font {
    p {
        font-size: 18px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .title-paella {
        p {
            font-weight: bold;
            padding: 0px;
        }
        h6 {
            padding-bottom: 20px;
        }
    }
}

label.required:before {
    content: " *";
    color: red;
}

label {
    font-weight: normal !important;
}

.form-group {
    font-size: 14px;
}

@media (max-width: 767px) {
    .form-group {
        font-size: 12px;
    }
}

.order-text {
    @media (max-width: 767px) {
        h5 {
            font-size: 11px;
        }
    }
    .pad-top-10 {
        padding-top: 12px;
    }
    .font-12 {
       
        @media (max-width: 767px) {
            font-size: 12px;
        }
    }
}

.bold-text {
    font-weight: bold;
}

.not-bold {
    font-size: 10px;
    font-weight: 0px;
}


/*-------------my basket------------------*/

.style-six {
    margin-top: 0px;
    border: 0;
    height: 0;
    border-top: 0.5px solid primary-color;
    border-bottom: 0.5px solid $primary-color;
}

.order-no {
    h3 {
        text-align: left;
    }
    h5 {
        padding-top: 25px;
        font-weight: bold;
        font-size: 15px;
        text-align: left;
    }
    p {
        text-align: left;
        padding-top: 15px;
        font-size: 12px;
        padding-bottom: 15px;
    }
}

.font-9 {
    font-size: 9px;
    @media (max-width: 991px) {
        font-size: 7px;
        padding-left: 3px;
    }
}